build_output/*
code_drop/*

**/*.suo
**/**/*.suo
**/*.user
bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper.user
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig
*.vspscc
*.vssscc
*.vsmdi
*.testsettings
*lint*
*.log
*.Cache
*.StyleCop

TestResult.xml
submit.xml
src/tests/*
tests/*
doc/*
SolutionVersion.cs
gems/lib/**/*